footer
    .social-links
        a
            border: 1px solid #6c6f72
            border-radius: 50%
        i
            font-size: 14px
    .copyright
        p
            font-family: "Roboto"
            font-size: 14px
    .credits
        font-family: "Roboto"
        font-size: 13px
